* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   width: 85%;
   margin: auto;
   max-width: 1120px;
}

img {
   width: 100%;
}

a {
   color: white;
   text-decoration: none;
}

$primary-color: teal;
