@import 'config';

body {
   color: #333;
   background-color: #d6d6d6;
}

header {
   background-color: lighten($primary-color, 5);
   color: #fff;

   .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 5;

      .header-name {
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 1rem 0;

         img {
            width: 50px;
            border-radius: 50%;
         }

         h2 {
            margin-left: 1rem;
            color: #fff;
         }
      }

      .header-utilities {
         display: flex;
         align-items: center;
         justify-content: space-around;

         i {
            margin-right: 3rem;
            color: #fff;
         }
      }
   }
   .burger > div {
      background-color: #fff;
      width: 0.2rem;
      height: 0.2rem;
      border-radius: 50%;
      margin: 0.3rem;
   }
}

.message {
   height: 80vh;
}

.input-fields {
   position: fixed;
   bottom: 0;

   .input-field {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      width: 100vw;
      align-items: center;
      justify-content: center;

      .fas {
         cursor: pointer;
      }

      .user-1,
      .user-2 {
         .user-input {
            display: block;
            width: 48vw;
            height: 2rem;
            margin-bottom: 1rem;
            margin-right: 1rem;
            border-radius: 22px;
            border: none;
            outline: none;
            padding: 1.5rem 3rem;
            font-size: 1rem;
            color: #333;
            z-index: 7;
         }
      }

      .user-1 {
         .smiles {
            color: #555;
            font-size: 1.4rem;
            position: absolute;
            top: 0.8rem;
            left: 2%;
         }
         .cameras {
            color: #555;
            font-size: 1.4rem;
            position: absolute;
            top: 0.8rem;
            left: 43%;
         }
         .sends {
            color: $primary-color;
            font-size: 2.9rem;
            position: absolute;
            top: 1.2px;
            left: 620px;
         }
      }

      .user-2 {
         .smiles {
            color: #555;
            font-size: 1.4rem;
            position: absolute;
            top: 0.8rem;
            left: 51%;
         }
         .cameras {
            color: #555;
            font-size: 1.4rem;
            position: absolute;
            top: 0.8rem;
            left: 92%;
         }
         .sends {
            color: $primary-color;
            font-size: 2.9rem;
            position: absolute;
            top: 1.2px;
            right: 26px;
         }
      }
   }
}
