@import 'config';
@import 'contact';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow-x: hidden;
}

body {
   background-color: #c2c2c2;
   font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 1.7;
}

header {
   background-color: $primary-color;
   color: white;
   margin-bottom: 16vh;

   h3 {
      font-weight: 400;
   }

   .header {
      position: fixed;
      top: 0;
      left: 0;
      padding: 0.7rem 4rem;
      background-color: $primary-color;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.5s ease;

      &-name {
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;

         h3 {
            margin-left: 1.5rem;
         }

         img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
         }
      }

      &-utilities {
         display: flex;
         align-items: center;
         justify-content: center;

         .fas {
            margin: 0 1.5rem;
            cursor: pointer;
         }
      }

      .burger {
         margin-left: 1.5rem;
         cursor: pointer;
         div {
            background-color: white;
            width: 0.2rem;
            height: 0.2rem;
            margin: 0.3rem;
         }
      }
   }
}

.main {
   .search-input {
      position: absolute;
      top: -15%;
      right: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all ease 0.5s;

      input {
         padding: 0.5rem 1rem;
         width: 70%;
         border: none;
         outline: none;
      }
   }

   .show-search-input {
      margin-bottom: 2rem;
      position: absolute;
      top: 10%;
      right: 0%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all ease 0.5s;
   }
}

.inputs {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: lighten(#c2c2c2, 2);

   i {
      cursor: pointer;
   }

   form input,
   form button {
      padding: 0.5rem;
      font-size: 1.2rem;
      border: none;
      background-color: white;
      margin: 10px 0;
      outline: none;
   }

   form input {
      border-radius: 20px;
      padding: 0.5rem 1rem;
      width: 90%;
      position: relative;
   }

   form button {
      margin-left: 0.5rem;
      border-radius: 50%;
      background-color: $primary-color;
      color: white;
      cursor: pointer;
   }

   .users {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
}

.messages {
   overflow: hidden;
   .message-1 {
      float: left;
      width: 55%;
      background-color: white;
      color: #333;
      margin-bottom: 1rem;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .delete-btn-1 {
         outline: none;
         border: none;
         cursor: pointer;
         background-color: white;

         i {
            opacity: 0.2;
            font-size: 1rem;
            pointer-events: none;
         }

         &:hover {
            i {
               opacity: 1;
               color: red;
               transition: all ease 0.5s;
            }
         }
      }
   }
   .message-2 {
      margin-bottom: 1rem;
      float: right;
      width: 55%;
      background-color: lighten($primary-color, 10);
      color: white;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .delete-btn-2 {
         outline: none;
         border: none;
         cursor: pointer;
         background-color: lighten($primary-color, 10);

         i {
            opacity: 0.2;
            font-size: 1rem;
            pointer-events: none;
            color: white;
         }

         &:hover {
            i {
               opacity: 1;
               color: red;
               transition: all ease 0.5s;
            }
         }
      }
   }
   .last {
      margin-bottom: 4rem;
   }
}

.main {
   margin-bottom: 3.7rem;
}

.delete-message-1 {
   transform: translateY(8rem) rotateZ(20deg);
   opacity: 0;
}

@import 'mobile';
